# Ignore Python virtual environment
venv/
env_jupyter

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# OS files
.DS_Store 

#dk
.conda
.sh
Miniconda3
Miniconda3-latest-Linux-x86_64.sh

